@model Product


<div class="d-flex justify-content-center">
    <h1 class="text-success">Product Details</h1>
</div>

<br />
<hr />
<br />

<div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayNameFor(e => e.Title):  @Model.Title</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayNameFor(e => e.Id):  @Model.Id</h6>
            <h6 class="card-subtitle mb-2">@Html.DisplayNameFor(e => e.Description):  @Model.Description</h6>
            <h6 class="card-subtitle mb-2">@Html.DisplayNameFor(e => e.Price):  @Model.Price</h6>
            <h6 class="card-subtitle mb-2">@Html.DisplayNameFor(e => e.Quantity):  @Model.Quantity</h6>
            <h6 class="card-subtitle mb-2">Category Name :  @Model.Category.Name</h6>
            <div class="d-flex justify-content-center">
                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary mt-4">Back</a>
            </div>
        </div>
    </div>
</div>
